<table>
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% book.each do |books| %>
        <tr>
            <th></th>
            <th>
                <%= link_to book_path(books.id) do %>
                <%= books.title %>
                <% end %>
            </th>
            <th><%= books.body %></th>
        </tr>
        <% end %>
    </tbody>
</table>