<h2>Books</h2>
<table class="table table-hover ">
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% book.each do |books| %>
        <tr>
            <th><%= attachment_image_tag books.user, :profile_image, :fill, 30, 30, format: 'jpeg', fallback: 'no_image.jpg' %></th>
            <th>
                <%= link_to book_path(books.id) do %>
                <%= books.title %>
                <% end %>
            </th>
            <th><%= books.body %></th>
        </tr>
        <% end %>
    </tbody>
</table>